<div class="container">
<!-- <h3> Song requests:</h3>
<% @songrequest.each do |s| %>
	<%= s.requestor%>
	<%= s.title %> 
	<%= s.artist%>  
	</br>
<%end%> -->

<h3> Song requests:</h3>

	<div id="ajaxlist">
	<div class="span3"><b>Requestor</b></div>
	<div class="span3"><b>Song</b></div>
	<div class="span3"><b>Artist</b></div>
	
	</div>

</div>

