<div class="container">
<h3> List</h3>
<% @songrequest.each do |s| %>
	<%= s.title %> 
	<%= s.artist%>  
	<%= s.requestor%>
	<br />
<%end%>

<h3> AJAX list 2</h3>

	<div id="ajaxlist2">
	where is my list?
	</div>

</div>

<h3> AJAX list</h3>

	<div id="ajaxlist">
	where is my list?
	</div>

</div>

