<div id="footer">
<div class="container">
<div class="row">

	<div class="span8">
		<h6>Thanks for visiting. See you in Cabo!</h6>
	</div>

	<div class="span4">
		<h5>A&ampC 2014</h5>
	</div>

</div>
</div>
</div>