
<div class="navbar navbar-fixed-top" id="nav">
	<div class="navbar-inner">
		<div class="container">
			<!--<%=link_to 'Ann & Chris', root_path, class:"brand" %>-->
			<span>
				<a class="brand scroller" href="#sec0">Ann &amp Chris</a>
			</span>
			<ul class="nav nav-pills">
				<li><a class="scroller sec1a" href="#sec1">The Proposal </a> </li>
				<li><a class="scroller sec2a" href="#sec2">The Wedding </a></li>
				<li><a class="scroller sec3a" href="#sec3">Weekend Details</a></li>
				<li><a class="scroller sec4a" href="#sec4">Song Requests</a> </li>
				<li><a class="scroller sec5a" href="#sec5">Travel</a> </li>
				<li><a class="scroller sec6a" href="#sec6">Photos</a></li>
				<li><a class="scroller sec7a" href="#sec7">Registry</a> </li>
			</ul>
		</div>
	</div>
</div>