<div class="row">
	<div class="span12">
		<h4>Weekend Schedule (hover for details)</h4>	
	</div>
</div>

<div class="row numberContainer">
	<div class="span1 numberStrip">
		<ul>
			<li>9am</li>
			<li>10a</li>
			<li>11a</li>
			<li>12p</li>
			<li>1p</li>
			<li>2p</li>
			<li>3p</li>
			<li>4p</li>
			<li>5p</li>
			<li>6p</li>
			<li>7p</li>
			<li>8p</li>
			<li>9p</li>
			<li>10p</li>
			<li>11p</li>
			<li>12a</li>
			<li>1a</li>
		</ul>
	</div>

	<div class="span3 numberBox">
		<h4>Friday</h4>
		<div class="hr2 blank">

		</div>
			<div class="hr8" id="popR1">
				Arrival &amp Chill time
			</div>
			<div class="hr3" id="popR2">
				Welcome Dinner
			</div>
			<div class="hr2" id="popR3">
				Beach Bar Nightcap
			</div>
		</div>

		<div class="span1 numberStrip">
			<ul>
				<li>9am</li>
				<li>10a</li>
				<li>11a</li>
				<li>12p</li>
				<li>1p</li>
				<li>2p</li>
				<li>3p</li>
				<li>4p</li>
				<li>5p</li>
				<li>6p</li>
				<li>7p</li>
				<li>8p</li>
				<li>9p</li>
				<li>10p</li>
				<li>11p</li>
				<li>12a</li>
				<li>1a</li>
			</ul>
		</div>


		<div class="span3 numberBox">
			<h4>Saturday</h4>
			<div class="hr7" id="popR4">
				Beach &amp Pool Fun Time
			</div>
			<div class="hr2" id="popR5">
				Get Ready Time 
			</div>
			<div class="hr1" id="popR6">
				Wedding Ceremony 
			</div>
			<div class="hr1" id="popR7">
				Cocktail Hour 
			</div>
			<div class="hr3" id="popR8">
				Wedding Dinner & Dancing
			</div>
			<div class="hr2" id="popR9">
				Beach Bonfire After Party!
			</div>


		</div>

		<div class="span1 numberStrip">
			<ul>
				<li>9am</li>
				<li>10a</li>
				<li>11a</li>
				<li>12p</li>
				<li>1p</li>
				<li>2p</li>
				<li>3p</li>
				<li>4p</li>
				<li>5p</li>
				<li>6p</li>
				<li>7p</li>
				<li>8p</li>
				<li>9p</li>
				<li>10p</li>
				<li>11p</li>
				<li>12a</li>
				<li>1a</li>
			</ul>
		</div>


		<div class="span3 numberBox">
			<h4>Sunday</h4>
			<div class="hr3" id="popL10">
				Brunch like a Boss
			</div>
			<div class="hr6" id="popL11">
				Pool &amp Relax Time
			</div>


		</div>

	</div>