<div class="row">
	<div class="span12">
		<h4>Weekend Schedule (hover for details)</h4>	
	</div>
</div>

<div class="row numberContainer">
	<div class="span1 numberStrip">
		<ul>
			<li>9am</li>
			<li>10a</li>
			<li>11a</li>
			<li>12p</li>
			<li>1p</li>
			<li>2p</li>
			<li>3p</li>
			<li>4p</li>
			<li>5p</li>
			<li>6p</li>
			<li>7p</li>
			<li>8p</li>
			<li>9p</li>
			<li>10p</li>
			<li>11p</li>
			<li>12p</li>
			<li>1a</li>
		</ul>
	</div>

	<div class="span3 numberBox">
		<h4>Friday</h4>
		<div class="hr3 blank">

		</div>
			<div class="hr6" id="popR1">
				Arrival &amp Check-in 
			</div>
			<div class="hr4" id="popR2">
				Rehersal Dinner
			</div>
			<div class="hr2" id="popR3">
				Beach Bar Nightcap
			</div>
		</div>

		<div class="span1 numberStrip">
			<ul>
				<li>9am</li>
				<li>10a</li>
				<li>11a</li>
				<li>12p</li>
				<li>1p</li>
				<li>2p</li>
				<li>3p</li>
				<li>4p</li>
				<li>5p</li>
				<li>6p</li>
				<li>7p</li>
				<li>8p</li>
				<li>9p</li>
				<li>10p</li>
				<li>11p</li>
				<li>12p</li>
				<li>1a</li>
			</ul>
		</div>


		<div class="span3 numberBox">
			<h4>Saturday</h4>
			<div class="hr3" id="popR4">
				Pool Party
			</div>
			<div class="hr2" id="popR5">
				Touch football game 
			</div>
			<div class="hr1" id="popR6">
				Post-game analysis
			</div>
			<div class="hr2" id="popR7">
				Get ready time 
			</div>
			<div class="hr1" id="popR8">
				Wedding ceremony 
			</div>
			<div class="hr1" id="popR9">
				Cocktail hour 
			</div>
			<div class="hr4" id="popR10">
				Wedding reception
			</div>
			<div class="hr2" id="popR11">
				After party bonfire
			</div>


		</div>

		<div class="span1 numberStrip">
			<ul>
				<li>9am</li>
				<li>10a</li>
				<li>11a</li>
				<li>12p</li>
				<li>1p</li>
				<li>2p</li>
				<li>3p</li>
				<li>4p</li>
				<li>5p</li>
				<li>6p</li>
				<li>7p</li>
				<li>8p</li>
				<li>9p</li>
				<li>10p</li>
				<li>11p</li>
				<li>12p</li>
				<li>1a</li>
			</ul>
		</div>


		<div class="span3 numberBox">
			<h4>Sunday</h4>
			<div class="hr2 blank">

			</div>
			<div class="hr3" id="popL13">
				Brunch and beats
			</div>
			<div class="hr4" id="popL14">
				Pool &amp relax time
			</div>


		</div>

	</div>